.panel-body{
    height: 40vh;
    overflow-y: scroll;
    padding-right: 15px;
    padding-left:15px;
}
.message{
    padding: 5pt;
    border-radius: 5pt;
    margin: 5pt;
    max-width:80%;
    word-wrap: break-word;

}
.owner{
    background-color:#007bff;
    float: right;
    color:white;
}
.not_owner{
    background-color: #eaeff2;
    float:left;
}

.row-owner{
    flex-direction: row;
    justify-content: flex-end;
    /*margin:0;*/            
}
.row-not-owner{
    flex-direction: row;
    justify-content: flex-start;
    /*margin:0;*/           
}

.contenedor{
    display:flex;
    justify-content: flex-end;
    font-size: small;
}

.panel-default {
    border-color: #d3e0e9;
}
.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid;
    border-top-color: #bfd8f7;
    border-right-color: #bfd8f7;
    border-bottom-color: #bfd8f7;
    border-left-color: #bfd8f7;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-bottom-color:#bfd8f7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color:#007bff;
}

.panel-footer {
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-top: 1px solid #d3e0e9;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    /*flex-wrap: wrap;*/
    
}

.text-chat{
    color: white;
}

@media only screen and (max-width: 600px) {
    .panel-conversaciones{
    display:none;
    }

    .contenedor{
        margin: 0;
        padding: 1px;
    }

    .chat-movil{
        margin: 0;
        padding: 1px;
    }
    .panel{
        margin-bottom: 0px;
    }

    nav.fixed-top{
        padding: 0.2rem;
    }

    .chat-row{
        margin-top: -30px;
    }

    .footer{
        display:none;
    }
}
